@tailwind base;
@tailwind components;
@tailwind utilities;

.signup_img {
    background: url("../public/images/signup-img.jpg") no-repeat center
        center/cover;
    height: 93vh;
    width: 50%;
}

/* @media screen and (min-width: 900px), screen and (max-height: 600px) {
    .signup_img {
        height: 600px;
    }

    .signup_img img {
        height: 100%;
    }
} */
