@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #2090db;
}

.result-box::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.result-box::-webkit-scrollbar-track {
    /* border-radius: 10px; */
    background-color: #000;
}

.result-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #324049;
}
